{% extends "core/tags/base.html" %}

{% load core %}

{% block title %}Tags{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="full" id="content-primary">
        <h1>Tags</h1>
        <p>Tags are used to label and categorise issues. A tag is created when it is first added to an issue; create a new issue or retag an existing one to create a new tag.</p>
        <table class="tags">
            <tbody>
                {% for tag_row in tag_rows %}
                    <tr>
                        {% for tag in tag_row %}
                            <td>
                                {% tag_link tag %}<span>&times; {{ tag.issue__count }}</span>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% page_links page %}
    </div>
{% endblock %}
