{% extends "core/tags/base.html" %}

{% load core %}

{% block title %}Tags{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="content-primary">
        <table class="tags">
            <tbody>
                {% for tag_row in tag_rows %}
                    <tr>
                        {% for tag in tag_row %}
                            <td>
                                {% tag_link tag %}<span>&times; {{ tag.issue_count }}</span>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% page_links page %}
    </div>
    <div id="content-secondary">
        <h2 class="section">About Tags</h2>
        <p>
            Tags label and categorise issues. Tag are created when they are
            added to issues; create or retag issues to create tags.
        </p>
        <h2 class="section">Statistics</h2>
        <ol>
            <li><strong>{{ tags|length }}</strong> tags</li>
            <li><strong>{{ average_issues }}</strong> issues on average</li>
        </ol>
    </div>
{% endblock %}
