{% extends "core/tags/base.html" %}

{% load core %}

{% block title %}{{ tag.name }}{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="content-primary">
        <h1>{{ tag.name }}</h1>
        <p>Create a <a href="{% url core:issues:new %}">new issue</a> or a <a href="{% url core:parties:new %}">new party</a>.</p>
        {% issue_table page.object_list 5 %}
        {% page_links page %}
    </div>
    <div id="content-secondary">
        <div class="module">
            <p class="count">{{ tag.issue_set.count }}</p>
            issues
        </div>
    </div>
{% endblock %}
