{% extends "core/tags/base.html" %}

{% load core %}

{% block title %}{{ block.super }} / {{ tag.name }}{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="content-primary">
        <h1><a href="{% url core:tags:list %}">Tags</a> / <strong>{{ tag.slug }}</strong></h1>
        {% for issue in page.object_list %}
            {% issue_summary issue %}
        {% endfor %}

        {% page_links page %}
    </div>
    <div id="content-secondary">
        <h2 class="section">Related Tags</h2>
        {% for related_tag in related_tags|slice:":5" %}
            {% tag_link related_tag %}
        {% endfor %}
    </div>
{% endblock %}
