{% extends "core/base_main_secondary.html" %}

{% load core %}

{% block title %}
    {{ tag.name }}
{% endblock %}

{% block body_class %}issues{% endblock %}

{% block main %}
    {{ block.super }}
    <h1>{{ tag.name }}</h1>
    <p>Create a <a href="{% url core:issues:new %}">new issue</a> or a <a href="{% url core:parties:new %}">new party</a>.</p>
    {% issue_table page.object_list 5 %}
    {% page_links page %}
{% endblock %}

{% block secondary %}
    {{ block.super }}
    <div class="module">
        <p class="count">{{ tag.issue_set.count }}</p>
        issues
    </div>
{% endblock %}
