html.about #content-primary > p {
    font-size: 16px;
    margin: 20px 0 0 0;
}

html.about #content-primary ol.questions > li {
    background-color: #FFF;
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.07);
    margin-bottom: 20px;
    padding: 13px 15px 0 15px;
}

html.about #content-primary ol.questions > li.highlighted {
    background-color: #FFF5CC;
}

html.about #content-primary ol.questions > li:last-child {
    margin-bottom: 0;
}

html.about #content-primary ol.questions > li h3 {
    font-size: 19px;
    font-weight: normal;
    margin-bottom: 12px;
    margin-top: 0;
}

html.about #content-primary ol.questions li p,
html.about #content-primary ol.questions li ul {
    line-height: 16px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 15px;
}

html.about #content-secondary a.person {
    display: block;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.5em;
    overflow: auto;
}

html.about #content-secondary a.person img {
    border-radius: 5px;
    float: left;
    margin-right: 10px;
}

html.about #content-secondary a.person span {
    display: block;
    font-weight: normal;
    font-size: 12px;
}
