html {
    background: #FFF;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}

#header {
    background: #F9F4F3 url("../img/header-background.png") repeat-x scroll top;
    font-size: 0;
    height: 50px;
    min-width: 960px;
    padding-bottom: 2px;
    width: 100%;
}

/* Show the secondary header. */
html.issues #header,
html.parties #header {
   background-color: #84C961;
   height: 84px;
   padding-bottom: 0;
}

/* Resize with floating content. */
#header-content {
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    width: 960px;
}

#header-content a {
    color: #FFF;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.2) 0 -1px 1px;
}

/* Chrome bugs out occasionally without this. */
#header-content > div > ol {
    float: left;
}

#header-content li, #header-content ol {
    display: inline-block;
}

#header-primary {
    height: 52px;
}

#header-primary a {
    font-size: 14px;
    padding: 17px 20px 21px 20px;
}

/* Highlight the current item. */
#header-primary a:hover,
html.about #header-about,
html.log-in #header-log-in,
html.issues #header-issues,
html.parties #header-parties,
html.tags #header-tags {
    background-color: #84C961;
}

#header-primary div.right {
    height: 100%;
}

#header-primary li, #header-primary ol {
    height: 100%;
}

#header-primary form {
    display: inline-block;
}

#header-primary input {
    border: 0;
    border-radius: 6px;
    margin: 13px 0 0 15px;
    outline: none;
    padding: 5px 5px;
    width: 150px;
}

#header-secondary a {
    border-radius: 17px;
    font-size: 12px;
    margin: 6px 4px 0 0;
    padding: 2px 7px 5px 7px;
}

#header-secondary a.button {
    background-image: -webkit-linear-gradient(#8FDB69, #8AD466);
    background-image: -moz-linear-gradient(#8FDB69, #8AD466);
    border: 1px solid #7DBF5C;
    border-radius: 12px;
    -moz-box-shadow: inset #94E36D 0 1px;
    -webkit-box-shadow: inset #94E36D 0 1px;
    margin: 3px 4px 0 0;
    padding: 4px 8px 6px 8px;
}

#header-secondary a.button:hover {
    background-image: -webkit-linear-gradient(#93E06C, #8ED968);
    background-image: -moz-linear-gradient(#93E06C, #8ED968);
    -moz-box-shadow: inset #98E86F 0 1px;
    -webkit-box-shadow: inset #98E86F 0 1px;
}

/* Highlight the current item. */
#header-secondary li a:hover,
html.issues.active #header-issues-active,
html.issues.popular #header-issues-popular {
    background-color: #76B557;
    -moz-box-shadow: inset rgba(0, 0, 0, 0.1) 0 1px, inset #89D164 0 -1px;
    -webkit-box-shadow: inset rgba(0, 0, 0, 0.1) 0 1px, inset #89D164 0 -1px;
    text-shadow: #76B557 0 -1px 1px;
}

#content {
    background: #F9F4F3;
    min-width: 960px;
    padding: 20px 0 25px 0;
    width: 100%;
}

#content-content {
    margin: 0 auto;
    overflow: hidden;
    width: 960px;
}

#content-content > div.full {
    width: 960px;
}

#content-primary > :first-child,
#content-secondary > :first-child {
    margin-top: 0;
}

#content-primary {
    float: left;
    width: 720px;
}

#content-secondary {
    float: right;
    width: 220px;
}

#content-secondary p {
    line-height: 16px;
}

#footer {
    width: 100%;
}

#footer-content {
    color: #999;
    margin: 0 auto;
    padding: 15px 0;
    width: 960px;
}

#footer-content a {
    color: #777;
    font-weight: bold;
}

#footer-content li {
    display: inline;
    margin-right: 5px;
}

#footer-content ol {
    margin-bottom: 10px;
}

#footer-content p {
    line-height: 18px;
    margin: 0;
}

.right {
  float: right;
}

a, a:visited {
    color: #4183C4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.tag {
    background-color: #D9F3CC;
    border-radius: 5px;
    color: #5C9540;
    line-height: 24px;
    padding: 3px 5px;
    white-space: nowrap;
}

a.tag:hover {
    background-color: #b7f598;
}

b {
    font-weight: bold;
}

code {
    font-family: "Courier New", monospace;
}

div.errors {
    color: red;
    font-weight: bold;
}

div.pager {
    margin-top: 5px;
    padding: 5px 0;
    text-align: right;
}

div.pager a, div.pager span {
    background-color: #F0F0F0;
    border: 1px solid #E0E0E0;
    padding: 5px;
}

div.pager span {
    background-color: #E0E0E0;
}

em {
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 0.75em 0 1em 0;
}

h1 {
    font-size: 20px;
    font-weight: normal;
}

h2 {
    font-size: 14px;
}

h2.section {
    border-bottom: 2px solid #E5E5E5;
    margin-top: 18px;
    padding-bottom: 6px;
}

i {
    font-style: italic;
}

li {
    padding: 0;
}

ol.tabs {
    border-bottom: 2px solid #E5E5E5;
    margin-bottom: 14px;
    padding-bottom: 8px;
}

ol.tabs li {
    display: inline;
    font-size: 14px;
    font-weight: bold;
    margin-right: 7px;
}

ol.tabs li a {
    color: #555;
    padding-bottom: 7px;
}

ol.tabs li a:hover, ol.tabs li.selected a {
    border-bottom: 2px solid #AAA;
    color: #777;
    text-decoration: none;
}

p {
    margin: 1em 0;
}

strong {
    font-weight: bold;
}

ul {
    list-style: disc;
    margin: 0 0 1em 1.2em;
}
