div.information, div.success {
  border: 1px solid #000;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 8px;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

div.information {
  background-color: #FFF5CC;
  border-color: #F5E5D0;
}

div.success {
  background-color: #EAFFD5;
  border-color: #DAEAC0;
}
