form.issue * {
    font-size: 15px;
}

form.issue label {
    font-weight: bold;
    line-height: 23px;
}

form.issue input[type=text] {
    float: right;
    width: 645px;
}

form.issue textarea {
    font-family: monospace;
    height: 150px;
    padding: 0;
    width: 718px;
}

form.issue ol.tag_suggestions {
    background: #FFF;
    border: 1px solid #999;
    position: absolute;
}

form.issue ol.tag_suggestions li {
    padding: 3px 4px;
    cursor: pointer;
}

form.issue ol.tag_suggestions li.hover {
    background-color: #33F;
    color: #FFF;
}

form.issue > p:first-child {
    margin-top: 0;
}

form.issue p.actions a {
    font-size: 11px;
}

html.issues #content-secondary ol.related li {
    margin-bottom: 0.5em;
}

html.issues #call-to-action {
    margin-bottom: 2em;
}

html.issues #call-to-action p {
    font-size: 20px;
    margin: 0 0 0.5em 0;
}

html.issues #call-to-action form {
    display: block;
    padding-right: 110px;
    position: relative;
}

html.issues #call-to-action input[type=text] {
    border: 1px solid #AAA;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 20px;
    height: 30px;
    margin: 0;
    outline: none;
    padding: 3px;
    width: 100%;
}

html.issues #call-to-action input[type=submit] {
    background-color: #DDD;
    border: 1px solid #BBB;
    font-size: 18px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

div.issue-summary {
    background-color: #F2F2F2;
    border: 1px solid #DDD;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 1.5em;
}

div.issue-summary > h3 {
    font-size: 18px;
    line-height: 35px;
    margin: 0 0 0 10px;
}

div.issue-summary > h3 > a {
    color: #333;
}

div.issue-summary > ul > li {
    display: inline;
}

div.issue-summary > ul.stats {
    color: #B2B2B2;
    font-size: 11px;
    margin: 0 0 1em 10px;
}

div.issue-summary > ul.stats > li {
    background-image: url("../img/issues/icons.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 11px;
    margin-right: 5px;
    padding-left: 15px;
}

div.issue-summary > ul.stats > li.updated {
    background-position: 0 -11px;
}

div.issue-summary > ul.views {
    background-color: #FFF;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-top: 1px solid #DDD;
    font-size: 0;
    margin: 0;
    padding: 5px 5px 2px 5px;
}

div.issue-summary > ul.views > li > a {
    background-position: 4px center;
    background-repeat: no-repeat;
    border: 1px solid;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: 0 3px 3px 0;
    padding: 3px 6px 4px 17px;
    text-shadow: rgba(255, 255, 255, 0.75) 0px 1px 2px;
    white-space: nowrap;
}

div.issue-summary > ul > li > a.oppose {
    background-color: #FFA6A6;
    background-image: url("../img/issues/cross.png");
    border-color: #DC7B7B;
    color: #9D1515;
}

div.issue-summary > ul > li > a.support {
    background-color: #B1F0AF;
    background-image: url("../img/issues/tick.png");
    border-color: #96CD94;
    color: #2D742B;
}

div.issue-summary > ul > li > a.unclear {
    background-color: #FFED93;
    background-image: url("../img/issues/circle.png");
    border-color: #EDD54E;
    color: #AC841A;
}
