@import "util";

html.issues #call-to-action {
  margin-bottom: 2em;

  p {
    font-size: 20px;
    line-height: 120%;
    margin: 0 0 0.5em 0;
  }

  form {
    display: block;
    padding-right: 110px;
    position: relative;

    input[type=text] {
      .box-sizing(border-box);
      font-size: 20px;
      height: 30px;
      margin: 0;
      outline: none;
      width: 100%;
    }

    input[type=submit] {
      font-size: 18px;
      height: 30px;
      position: absolute;
      right: 0;
      top: 0;
      width: 100px;
    }
  }
}

div.issue {
  background: @grey-background;
  border: 1px solid @grey-border;
  .border-radius(5px);
  margin-bottom: 1.5em;

  .description {
    background: #FFF;
    .border-radius(5px 5px 0 0);
    padding: 10px;

    > :first-child {
      margin-top: 0;
    }
  }

  ul.tags {
    list-style-type: none;
    margin: 1em 0 0 0;

    li {
      display: inline;
    }
  }

  footer {
    border-top: 1px solid @grey-border;
    .border-radius(0 0 5px 5px);
    .box-sizing(border-box);
    overflow: auto;
    padding: 8px 10px 10px;
    width: 100%;

    ul.stats {
      float: left;
      margin: 0;
    }

    a.edit {
      float: right;
    }
  }
}

div.issue-summary {
  background: @grey-background;
  border: 1px solid @grey-border;
  .border-radius(5px);
  margin-bottom: 1.5em;

  h3 {
    font-size: 18px;
    line-height: 20px;
    margin: 9px 0 9px 10px;

    a {
      color: @text-colour;
    }
  }

  > .views {
    background-color: #FFF;
    .border-radius(0 0 5px 5px);
    border-top: 1px solid @grey-border;
    font-size: 0;
    margin: 0;
    padding: 5px 5px 2px 5px;

    li {
      display: inline;

      a {
        border: 1px solid;
        .border-radius(5px);
        display: inline-block;
        font-size: 12px;
        font-weight: bold;
        margin: 0 3px 3px 0;
        padding: 3px 6px 4px 6px;
        text-shadow: 0 1px 2px rgba(255, 255, 255, 0.75);
        white-space: nowrap;
        width: auto;

        &.oppose {
          background-color: #FFA6A6;
          border-color: #DC7B7B;
          color: #9D1515;
        }

        &.support {
          background-color: #B1F0AF;
          border-color: #96CD94;
          color: #2D742B;
        }

        &.unclear {
          background-color: #FFED93;
          border-color: #EDD54E;
          color: #AC841A;

          &::before {
            position: relative;
            top: 1px;
          }
        }

        &::before {
          font-size: 13px;
          padding-right: 0.3em;
        }

        &:hover::before {
          text-decoration: none;
        }
      }
    }

    em {
      color: #999;
      display: block;
      font-size: 13px;
      margin: 2px 0 6px 2px;
    }
  }
}

form.issue {
  .white-panel;

  fieldset div {
    padding-left: 4em;
  }

  .errors p:first-child {
    margin-top: 0;
  }

  label {
    width: 3em;
  }

  textarea {
    .box-sizing(border-box);
    font-family: Monaco, Courier New, monospace;
    font-size: 12px;
    height: 17em;
    margin: 0.2em 0 0.5em 0;
    width: 100%;
  }

  div.actions {
    float: right;

    input[type=submit] {
      margin: 0;
    }

    a.cancel {
      font-size: 12px;
      margin-left: 0.5em;
    }
  }
}

html.issues.form #content-secondary {
  h2.section {
    margin-top: 0;
  }

  ul {
    margin-top: 0.5em;
  }

  li {
    margin-bottom: 0.5em;
  }
}
