@import "util";

div.party-summary {
  background: @grey-background;
  border: 1px solid @grey-border;
  .border-radius(5px);
  .box-sizing(border-box);
  float: left;
  margin-bottom: 1.5em;
  width: 351px;

  h3 {
    font-size: 18px;
    line-height: 20px;
    margin: 9px 0 9px 10px;

    a {
      color: @text-colour;
    }
  }

  ol.tags {
    margin: 0 10px 9px 10px;

    li {
      display: inline;
      margin-top: -0.3em;
    }
  }
}

div.party-summary-row {
  overflow: auto;

  > :last-child {
    float: right;
  }

  > :first-child {
    float: left;
  }
}

form.party {
  font-size: 14px;
  margin: 0 auto;
  .white-panel;

  .fields {
    display: table;
    width: 100%;

    p {
      display: table-row;

      label {
        display: table-cell;
        padding-bottom: 0.75em;
        width: 3.5em;
      }

      input, select {
        .box-sizing(border-box);
        display: table-cell;
        font-size: 14px;
        width: 100%;
      }
    }
  }

  .actions {
    float: right;
    margin-top: 0.5em;
  }
}

html.form.parties #content-secondary h2 {
  margin-top: 0;
}

html.party #content-secondary {
  h2.section a.help {
    font-size: 11px;
  }

  ol.similar-parties span {
    color: #999;
    display: inline-block;
    text-align: right;
    width: 2.9em;
  }
}
