html.parties #content-primary ol.parties > li {
  float: left;
  margin-bottom: 16px;
  width: 360px;

  > a {
    display: block;
    font-size: 16px;
    font-weight: bold;
  }

  ol {
    margin: 5px 0 2px 0;
  }

  li {
    display: inline;
  }

  span {
    color: #AAA;
  }
}

html.party #content-secondary {
  h2.section a.help {
    font-size: 11px;
  }

  ol.similar-parties span {
    color: #999;
    display: inline-block;
    text-align: right;
    width: 2.9em;
  }
}
