@import "util";

form.reference {
  .white-panel;

  .actions {
    float: right;
  }

  fieldset div {
    padding-left: 5.5em;
  }

  #id_title.loading {
    background: transparent url("/static/core/img/spinner.gif") no-repeat 597px 4px;
  }

  label {
    width: 4.5em;
  }

  textarea {
    .box-sizing(border-box);
    font-family: Monaco, Courier New, monospace;
    width: 100%;
  }
}

html.reference #content-secondary {
  h2.section {
    margin-top: 0;
  }

  ul {
    margin-top: 0.5em;
  }

  li {
    margin-bottom: 0.5em;
  }
}
