form.reference * {
    font-size: 16px;
}

form.reference a {
    font-size: 12px;
}

form.reference #id_url {
    width: 650px;
}

form.reference label {
    display: inline-block;
    width: 60px;
}

form.reference p {
    margin: 10px 0;
}

form.reference textarea {
    font-family: "Courier New", monospace;
    font-size: 16px;
    height: 150px;
    width: 714px;
}
