body {
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
}

#header {
    background-color: #EEE;
    margin-bottom: 10px;
    width: 100%;
}

#header-inner {
    margin: 0 auto;
    overflow: hidden;
    padding: 0.75em 0;
    width: 960px;
}

#header-inner a {
    font-weight: bold;
}

#header-inner li {
    display: inline;
}

#navigation {
    float: left;
}

#navigation li {
    padding: 0 0.2em 0 0;
}

#dashboard {
    float: right;
}

#dashboard form {
  display: inline;
  margin-left: 1em;
}

#dashboard li {
    padding: 0 0 0 0.2em;
}

#content {
    margin: 0 auto;
    width: 960px;
}

#main, #main-full {
    float: left;
}

#main {
    width: 700px;
}

#main-full {
    width: 960px;
}

#secondary {
    float: right;
    width: 245px;
}

#secondary > div.info {
    background-color: #DFD;
    border-radius: 7px;
    -moz-border-radius: 7px;
    padding: 7px;
}

#secondary > div.info ul {
    line-height: 150%;
    list-style: disc;
    margin-left: 15px;
}

#secondary > div.info > :first-child {
    margin-top: 0;
}

#secondary > div.module {
    margin-bottom: 10px;
}

#secondary p.count {
    color: #AAA;
    font-size: 300%;
    font-weight: bold;
    margin: 0;
}

#main > :first-child, #main-full > :first-child, #secondary > :first-child {
    margin-top: 0;
}

#footer {
    clear: both;
}

a, a:visited {
    color: #0000EE;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

b {
    font-weight: bold;
}

code {
    font-family: "Courier New", monospace;
}

div.errors {
    color: red;
    font-weight: bold;
}

div.pager {
    margin-top: 5px;
    padding: 5px 0;
    text-align: right;
}

div.pager a, div.pager span {
    background-color: #F0F0F0;
    border: 1px solid #E0E0E0;
    padding: 5px;
}

div.pager span {
    background-color: #E0E0E0;
}

em {
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 0.75em 0 1em 0;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 125%;
}

hr {
    border: 0;
    border-top: 1px solid #EFEFEF;
}

i {
    font-style: italic;
}

input[type=text], textarea {
    border: 1px solid #999;
    margin: 0;
    outline: 0;
}

ol.tabs {
    margin-bottom: 1em;
}

ol.tabs li {
    display: inline;
    font-size: 125%;
    font-weight: bold;
    margin-right: 0.25em;
}

ol.tabs li.selected a {
    color: #000;
}

p {
    margin: 1em 0;
}

strong {
    font-weight: bold;
}

ul {
    list-style: disc;
    margin-left: 1.2em;
}
