html.tags p.pages {
    text-align: right;
}

html.tag h1 {
    font-size: 12px;
    font-weight: normal;
}

table.tags {
    width: 100%;
}

table.tags tr {
    border-bottom: 1px dotted #DDD;
}

table.tags tr:last-child {
    border-bottom: none;
}

table.tags td {
    padding: 0.7em 0.5em 0.7em 0;
    width: 25%;
}

table.tags td a {
    margin-right: 5px;
    white-space: nowrap;
}

table.tags td span {
    font-weight: bold;
    white-space: nowrap;
}
