html.view #content-primary > h1 > strong > a {
    color: #000;
}

html.view #content-primary div.references form.archive {
    display: inline;
}

html.view #content-primary p.stance {
    margin-bottom: 1.75em;
}

html.view #content-primary p.stance span {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3px 5px;
}

html.view #content-primary p.stance span.oppose {
    background-color: #FFE0E0;
    border: 1px solid #E0D0D0;
}

html.view #content-primary p.stance span.support {
    background-color: #E0FFE0;
    border: 1px solid #D0E0D0;
}

html.view #content-primary p.stance span.unclear {
    background-color: #FFFFC3;
    border: 1px solid #E0E0FF;
}

div.reference {
    border-bottom: 1px solid #DDD;
    margin-bottom: 1em;
    padding-left: 60px;
    padding-bottom: 1em;
    position: relative;
}

div.reference:last-child {
    border-bottom: 0;
}

div.reference div.vote-widget {
    left: 0;
    position: absolute;
    text-align: center;
    width: 60px;
}

div.reference div.vote-widget a {
    background: transparent url("../img/ticks.png") no-repeat;
    display: block;
    height: 38px;
    margin: 0 auto;
    width: 38px;
}

div.reference div.vote-widget a.selected {
    background-position: 0 -38px;
}

div.reference div.stance {
    color: #FFF;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.35em 0.5em 0.5em 0.5em;
}

div.reference div.stance.support {
    background-color: #081;
}

div.reference div.stance.oppose {
    background-color: #C00;
}

div.reference div.stance.unclear {
    background-color: #FFDA00;
}
