*.pyc
*.sqlite3
/*/settings/common.py
/*/settings/production.py
/*/static/*
!/*/static/.gitignore
/deployment/apache.conf
/deployment/apache.conf.maintenance
/deployment/fabfile.py
/environment
/requirements_cache
