{% extends "core/base.html" %}

{% block html-class %}
    {{ block.super }}
    contribute
{% endblock %}

{% block title %}Contribute{% endblock %}

{% block content %}
    <div id="content-primary">
        <h1><strong>Contribute</strong></h1>
        {% if completed_task %}
            {% with view=completed_task.view %}
                <div class="success">
                    Your reference was created and can be viewed
                    <a href="{% url core:views:show slug=view.slug pk=view.pk %}">here</a>.
                    Thanks for contributing!
                </div>
            {% endwith %}
        {% endif %}
        {% if task %}
            {% with issue=task.view.issue party=task.view.party %}
                <div class="information">
                    <p><strong>
                        Find a reference that details the view of
                        <em><a href="{% url core:parties:show slug=party.slug pk=party.pk %}">{{ party.name }}</a></em>
                        on <em><a href="{% url core:issues:show slug=issue.slug pk=issue.pk %}">{{ issue.name }}</a></em>.
                    </strong></p>
                    <p>Can't find one? Click the "skip" button.</p>
                </div>
            {% endwith %}
            <form action="" class="reference" method="POST">
                {% include "core/references/_form.html" %}
                <input type="submit" value="Save"/>
            </form>
            <form action="{% url contribute:skip %}" class="skip" method="POST">
                {% csrf_token %}
                <input type="submit" value="Skip"/>
            </form>
        {% else %}
            <em>We don't have any tasks to give you; you'll have to find some other way to contribute.</em>
        {% endif %}
    </div>
    <div id="content-secondary">
        <h2 class="section">What's a reference?</h2>
        <p>
            A reference is a source of information about a party's stance on an
            issue; it could be a policy document, a news article, a video of a
            speech, etc.
        </p>
        <a class="more" href="{% url core:about %}#question-reference">more →</a>

        <h2 class="section">What makes a good reference?</h2>
        <p>The best references are those that:</p>
        <ul>
            <li>come from reliable sources,</li>
            <li>were published fairly recently,</li>
            <li>detail the whole party's stance, and</li>
            <li>are clear and unambiguous.</li>
        </ul>
        <a class="more" href="{% url core:about %}#question-good-reference">more →</a>
    </div>
{% endblock %}
