{% load thumbnail %}

<div class="election-summary">
    <h3><a href="{% url core:elections:show election.pk election.url %}">{{ election.name }}</a></h3>
    <ul class="stats">
        <li class="icon-time"><strong>{{ election.held_on|date:"dS F Y" }}</strong></li>
        <li class="icon-group"><strong>{{ parties|length }}</strong> parties</li>
    </ul>
    <div class="parties">
        {% if parties %}
            {% for party in parties %}
                <a href="{% url core:parties:show party.pk party.slug %}">
                    <img src="{{ party.get_picture|thumbnail_url:"party-icon" }}" title="{{ party.name }}"/>
                </a>
            {% endfor %}
        {% else %}
            <em>No parties.</em>
        {% endif %}
    </div>
</div>