description "memcached"
author "Chris Doble <chris@chrisdoble.com>"

start on runlevel [2345]
stop on runlevel [016]
respawn

# Upstart trickery to allow multiple instances.
instance $INSTANCE
env INSTANCE=

# Bind to the loopback IP for security.
exec memcached -l127.0.0.1:11211 -umemcache
