{% extends "core/parties/base.html" %}

{% load core thumbnail %}

{% block html-class %}
    {{ block.super }}
    form
{% endblock %}

{% block title %}{{ block.super }} / New Party{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="content-primary">
        <h1>
            <a href="{% url core:parties:list %}">Parties</a> /
            {% if form.instance.pk %}
                <a href="{% url core:parties:show form.instance.pk form.instance.slug %}">{{ form.instance.name }}</a> / <strong>Edit</strong>
            {% else %}
                <strong>New</strong>
            {% endif %}
        </h1>
        <form class="fields party" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <fieldset>
                <label for="id_parent">Parent</label>
                <div>
                    {{ form.parent }}
                </div>
            </fieldset>
            <fieldset>
                <label for="id_name">Name</label>
                <div>
                    {{ form.name }}
                </div>
            </fieldset>
            <fieldset>
                <label for="id_website_url">Website</label>
                <div>
                    {{ form.website_url }}
                </div>
            </fieldset>
            <fieldset>
                <label for="id_picture">Picture</label>
                <div>
                    <img alt="Party picture" src="{{ form.instance.get_picture|thumbnail_url:'party-picture' }}"/>
                    <input id="id_picture" name="picture" type="file"/>
                </div>
            </fieldset>
            {% if form.errors %}
                <div class="errors">
                    <p>Oops! The party couldn't be saved because:</p>
                    <ul>
                        {% for field_name, errors in form.errors.items %}
                            {% with field=form|get:field_name %}
                                {% for error in errors %}
                                    <li>{{ field.label }}: {{ error }}</li>
                                {% endfor %}
                            {% endwith %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="actions">
                {% if form.instance.pk %}
                    <input class="button" type="submit" value="Save"/>
                    <a class="cancel" href="{% url core:parties:show form.instance.pk form.instance.slug %}">Cancel</a>
                {% else %}
                    <input class="button" type="submit" value="Create"/>
                {% endif %}
            </div>
        </form>
    </div>
    <div id="content-secondary">
        <div id="help-parent">
            <h2 class="section">Parent</h2>
            <p>Are you creating a branch of a larger party (e.g. The Greens NSW is a branch of The Greens)? Select the parent party here.</p>
        </div>
        <div id="help-name">
            <h2 class="section">Name</h2>
            <p>The name of the party.</p>
            <ul>
                <li>Avoid acronyms/initialisms.</li>
                <li>Try to use the name that's registered with the electoral commission.</p>
            </ul>
        </div>
        <div id="help-website_url">
            <h2 class="section">Website</h2>
            <p>The address of the party's official website homepage.</p>
        </div>
    </div>
{% endblock %}