{% extends "core/parties/base.html" %}

{% load core %}

{% block title %}Parties{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="content-primary">
        <p>Create a <a href="{% url core:parties:new %}">new party</a>.</p>
        <ol>
            {% for party in page.object_list %}
                <li><a href="{% url core:parties:show party.pk party.slug %}">{{ party.name }}</a></li>
            {% endfor %}
        </ol>
       {% page_links page %}
   </div>
{% endblock %}
