{% extends "core/parties/base.html" %}

{% load core %}

{% block title %}{{ block.super }} / Parties{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="content-primary">
        <h1><strong>Parties</strong></h1>
        {% for party_row in parties|group_n:2 %}
            <div class="party-summary-row">
                {% for party in party_row %}
                    {% party_summary party %}
                {% endfor %}
            </div>
        {% endfor %}
   </div>
   <div id="content-secondary">
       <h2 class="section">About Parties</h2>
       <p>Shown are each party's "favourite" tags and the percentage of issues where we have information about their view.</p>

       <h2 class="section">Statistics</h2>
       <ol>
           <li><strong>{{ parties|length }}</strong> parties</li>
           <li><strong>{{ average_view_percentage|floatformat:0 }}%</strong> of issues available on average</li>
       </ol>
   </div>
{% endblock %}
