{% extends "core/parties/base.html" %}

{% load core %}

{% block title %}{{ block.super }} / Parties{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="content-primary">
        <h1><strong>Parties</strong></h1>
        <ol class="parties">
            {% for party in parties %}
                <li>
                    <a href="{% url core:parties:show party.pk party.slug %}">{{ party.name }}</a>
                    <ol>
                        {% for tag in party.common_tags|slice:":3" %}
                            <li>{% tag_link tag %}</li>
                        {% endfor %}
                    </ol>
                    <span>{{ party.view_percentage|floatformat:0 }}% of issues available</span>
                </li>
            {% endfor %}
        </ol>
   </div>
   <div id="content-secondary">
       <h2 class="section">About Parties</h2>
       <p>Shown are each party's "favourite" tags and the percentage of issues where we have information about their view.</p>

       <h2 class="section">Statistics</h2>
       <ol>
           <li><strong>{{ parties|length }}</strong> parties</li>
           <li><strong>{{ average_view_percentage|floatformat:0 }}%</strong> of issues available on average</li>
       </ol>
   </div>
{% endblock %}
