{% extends "core/parties/base.html" %}

{% load core %}

{% block title %}{{ party.name }}{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="content-primary">
        <h1>{{ party.name }}</h1>
        <ol class="tabs">
            <li {% if request.GET.issues != "unknown" %}class="selected"{% endif %}><a href="{% query_string issues="known" %}" id="tab-known">Known</a></li>
            <li {% if request.GET.issues == "unknown" %}class="selected"{% endif %}><a href="{% query_string issues="unknown" %}" id="tab-unknown">Unknown</a></li>
        </ol>
        <table class="views">
            <thead>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </thead>
            <tbody>
                {% for view in views %}
                    <tr>
                        <th><a href="{% url core:issues:show view.issue.pk view.issue.slug %}">{{ view.issue.name }}</a></th>
                        <td class="{{ view.stance }}"><a href="{% url core:views:show view.pk view.slug %}">{{ view.get_stance_display }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
