{% extends "core/parties/base.html" %}

{% load core thumbnail %}

{% block html-class %}
    {{ block.super }}
    party
{% endblock %}

{% block title %}{{ block.super }} / {{ party.name }}{% endblock %}

{% block header-secondary %}
    <div id="header-secondary">
        <div class="right">
            <a class="button" href="{% url core:parties:new-child party.pk %}">New Party</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="content-primary">
        <h1>
            <div class="picture"><img alt="Party picture" src="{{ party.get_picture|thumbnail_url:'party-picture' }}"/></div>
            <strong {% if party.parent %}class="branch"{% endif %}>{{ party.name }}</strong>
            <a class="edit icon-pencil" href="{% url core:parties:edit party.pk %}">Edit</a>

            {% if party.parent %}
                <span class="icon-sitemap">Branch of <strong><a href="{% url core:parties:show party.parent.pk party.parent.slug %}">{{ party.parent.name }}</a></strong></span>
            {% endif %}
        </h1>

        <ol class="tabs">
            <li {% if tab == "known" %}class="selected"{% endif %}><a href="{% query_string tab="known" %}">Known Views ({{ known_views.count }})</a></li>
            <li {% if tab == "unknown" %}class="selected"{% endif %}><a href="{% query_string tab="unknown" %}">Unknown Views ({{ unknown_views.count }})</a></li>
            <li {% if tab == "branches" %}class="selected"{% endif %}><a href="{% query_string tab="branches" %}">Branches ({{ branches.count }})</a></li>
        </ol>

        {% if tab != "branches" %}
            {% for view_row in views|group_n:2 %}
                <div class="view-summary-row">
                    {% for view in view_row %}
                        {% with heading=view.issue.name %}
                            {% include "core/views/_summary.html" %}
                        {% endwith %}
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            {% for branch_row in branches|group_n:2 %}
                <div class="party-summary-row">
                    {% for branch in branch_row %}
                        {% party_summary branch %}
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div id="content-secondary">
        {% if party_similarities %}
            <h2 class="section">Similar Parties <a class="help" href="{% url core:about %}#question-party-similarity">?</a></h2>
            <ol class="similar-parties">
                {% for party_similarity in party_similarities|slice:":3" %}
                    {% with other_party=party_similarity.second_party %}
                        <li>
                            <span>{{ party_similarity.percentage_similarity|floatformat:0 }}%</span>
                            <a href="{% url core:parties:show other_party.pk other_party.slug %}">{{ other_party.name }}</a>
                        </li>
                    {% endwith %}
                {% endfor %}
            </ol>
        {% endif %}
    </div>
{% endblock %}
