{% extends "core/base.html" %}

{% load core %}

{% block html-class %}
    {{ block.super }}
    view
{% endblock %}

{% block title %}{{ view.issue.name }} – {{ view.party.name }}{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="content-primary">
        <h1>
            <a href="{% url core:parties:show view.party.pk view.party.slug %}">{{ view.party.name }}</a> /
            <strong><a href="{% url core:issues:show view.issue.pk view.issue.slug %}">{{ view.issue.name }}</a></strong>
        </h1>

        <p class="stance">
            Current stance: <span class="{{ view.stance }}">{{ view.get_stance_display }}</span>
        </p>

        <div class="references">
            {% for reference in references %}
                {% include "core/views/_reference.html" %}
            {% empty %}
                <i>There aren't any references. Why not submit one?</i>
            {% endfor %}
        </div>

        {% if request.user.is_authenticated %}
            <h2 class="section">Add a Reference</h2>
            <form class="reference" method="post">
                {% include "core/references/_form.html" %}
                <p><input class="button" type="submit" value="Add"/></p>
            </form>
        {% endif %}
    </div>
{% endblock %}
