{% load core %}
{% load view_counts %}

<div class="issue-summary">
    <h3><a href="{% url core:issues:show issue.pk issue.slug %}">{{ issue.name }}</a></h3>
    <ul class="stats">
        <li class="icon-bar-chart"><strong>{{ issue.percentage_views_known|floatformat:0 }}%</strong> of views known</li>
        <li class="icon-time" title="{{ issue.updated_at }}">Last updated <strong>{{ issue.updated_at|interval_string }}</strong> ago</li>
        <li class="icon-eye-open"><strong>{{ issue|view_count }}</strong> views</li>
    </ul>
    <div class="views">
        {% if views %}
            <ul>
                {% for view in views %}
                    <li><a class="{{ view.stance }} {% stance_icon view.stance %}" href="{% view_url view %}" title="{{ view.get_stance_display }}">{{ view.party.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <em>No views known.</em>
        {% endif %}
    </div>
</div>
