{% extends "core/issues/base.html" %}

{% load core %}

{% block html-class %}
    {{ block.super }}
    form
{% endblock %}

{% block title %}
    {{ block.super }} /
    {% if form.instance.pk %}
        Edit Issue
    {% else %}
        New Issue
    {% endif %}
{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="content-primary">
        <h1>
            <a href="{% url core:issues:list %}">Issues</a> /
            {% if form.instance.pk %}
                {% with issue=form.instance %}
                    <a href="{% url core:issues:show issue.pk issue.slug %}">{{ issue.name }}</a> / <strong>Edit</strong>
                {% endwith %}
            {% else %}
                <strong>New</strong>
            {% endif %}
        </h1>
        <form class="fields issue" method="post">
            {% csrf_token %}
            <fieldset>
                <label for="id_name">Name</label>
                <div>{{ form.name }}</div>
            </fieldset>
            <fieldset>
                <label for="id_tags">Tags</label>
                <div>{{ form.tags }}</div>
            </fieldset>
            {{ form.description }}
            {% if form.errors %}
                <div class="errors">
                    <p>Oops! The issue couldn't be saved because:</p>
                    <ul>
                        {% for field_name, errors in form.errors.items %}
                            {% with field=form|get:field_name %}
                                {% for error in errors %}
                                    <li>{{ field.label }}: {{ error }}</li>
                                {% endfor %}
                            {% endwith %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="actions">
                {% if form.instance.pk %}
                    <input class="button" type="submit" value="Save"/>
                    <a class="cancel" href="{% url core:issues:show form.instance.pk form.instance.slug %}">Cancel</a>
                {% else %}
                    <input class="button" type="submit" value="Create"/>
                {% endif %}
            </div>
        </form>
    </div>
    <div id="content-secondary">
        <div id="help-name">
            <h2 class="section">Name</h2>
            <ul>
                <li>Avoid negatives (e.g. use "carbon tax", rather than "no carbon tax").</li>
                <li>Don't create issues that could become invalid after policy change (e.g. "lower taxes"—once they're lowered, the data may be wrong).</li>
            </ul>
        </div>
        <div id="help-tags">
            <h2 class="section">Tags</h2>
            <p>Tags describe the topic of an issue and are used to group it with related issues.</p>
            <ul>
                <li>Separate different tags with spaces (e.g. "children education religion").</li>
                <li>Separate words in tags with hyphens (e.g. "children-and-young-people").</li>
                <li>Try to use <a href="{% url core:tags:list %}">existing, popular tags</a>.</li>
                <li>Don't include synonyms (e.g. don't tag with both "children" and "kids").</li>
            </ul>
        </div>
        <div id="help-description">
            <h2 class="section">Description</h2>
            <p>The description should make clear exactly what the issue is about so appropriate references can be found.</p>
            <ul>
                <li>Try to include links to background / introductory information on the topic.</li>
                <li>Try to remain impartial: the goal is to simply explain the facts of the issue.</li>
                <li>
                    <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> formatting is supported:
                    <ul>
                        <li>Leave a blank line to end one paragraph and start another.</li>
                        <li><tt># Header</tt>, <tt>## Subheader</tt>, etc.</li>
                        <li><tt>[Link](www.example.com)</tt></li>
                        <li><pre>&gt; This is a quote.
&gt; Still a quote.</pre></li>
                        <li><pre>* This is a list.
* Still a list.</pre></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
