{% extends "core/issues/base.html" %}

{% load core %}

{% block html-class %}
    {{ block.super }}
    popular
{% endblock %}

{% block title %}Popular Issues{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="content-primary">
        {% issue_table page.object_list number_of_parties %}
        {% page_links page %}
    </div>
    <div id="content-secondary">
        <h1>About Popular Issues</h1>
        <p>
            These issues have recently been in the media or are being discussed
            at some level of government.
        </p>
        <h1><a href="{% url core:tags:list %}">Popular Tags</a></h1>
        {% for tag in tags|slice:":10" %}
            {% tag_link tag %}
        {% endfor %}
    </div>
{% endblock %}
