{% extends "core/issues/base.html" %}

{% load core %}

{% block html-class %}
    {{ block.super }}

    {# The home page is distinct from the popular issues page. #}
    {% if request.path != "/" %}
        popular
    {% endif %}
{% endblock %}

{% block title %}Popular Issues{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="content-primary">
        {# Show a call to action on the home page. #}
        {% if request.path == "/" %}
            <div id="call-to-action">
                <p>What do you care about? Find out which parties share your views.</p>
                <form action="{% url core:search %}">
                    <input name="q" placeholder="e.g. animals, environment, international relations, …" type="text"/>
                    <input type="submit" value="Search"/>
                </form>
            </div>
        {% endif %}
        {% issue_table page.object_list number_of_parties %}
        {% page_links page %}
    </div>
    <div id="content-secondary">
        <h2 class="section">About Popular Issues</h2>
        <p>
            These issues have recently been featured in the media or they are
            being discussed at some level of government.
        </p>
        <h2 class="section"><a href="{% url core:tags:list %}">Popular Tags</a></h2>
        {% for tag in tags|slice:":10" %}
            {% tag_link tag %}
        {% endfor %}
    </div>
{% endblock %}
