{% extends "core/issues/base.html" %}

{% load core %}

{% block title %}{{ issue.name }}{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="content-primary">
        <h1><a href="{% url core:issues:popular %}">Issues</a> / <strong>{{ issue.name }}</strong></h1>

        {% if issue.description_html %}
            {{ issue.description_html|safe }}
        {% else %}
            <p><em>No description available.</em></p>
        {% endif %}
        <p>
            {% for tag in issue.tags.all %}
                {% tag_link tag %}
            {% endfor %}
        </p>
        {% if request.user.is_authenticated %}
            <p><a href="{% url core:issues:edit issue.pk %}">Edit</a></p>
        {% endif %}

        {% for view in views %}
            <div class="view-summary{% cycle "" " right" %}">
                <h3><a href="{% url core:parties:show view.party.pk view.party.slug %}">{{ view.party.name }}</a></h3>
                <ul class="stats">
                    <li class="updated">Last updated <strong>{{ view.updated_at|interval_string }}</strong> ago</li>
                </ul>
                <a class="stance {{ view.stance }}" href="{% url core:views:show view.pk view.slug %}">{{ view.get_stance_display }}</a>
            </div>
        {% endfor %}
    </div>
    <div id="content-secondary">
        {% if related_issues %}
            <h2 class="section">Related Issues</h2>
            <ol class="related">
                {% for related_issue in related_issues|slice:":20" %}
                    <li><a href="{% url core:issues:show related_issue.pk related_issue.slug %}">{{ related_issue.name }}</a></li>
                {% endfor %}
            </ol>
        {% endif %}
    </div>
{% endblock %}
