{% extends "core/issues/base.html" %}

{% load core %}
{% load view_counts %}

{% block html-class %}
    {{ block.super }}
    issue
{% endblock %}

{% block title %}{{ issue.name }}{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
    google.load("visualization", "1", {packages: ["corechart"]});
    stances = {{ stances|json|safe }};
    </script>
{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="content-primary">
        <h1><a href="{% url core:issues:popular %}">Issues</a> / <strong>{{ issue.name }}</strong></h1>

        <div class="issue">
            <div class="description markdown">
                {% if issue.description_html %}
                    {{ issue.description_html|safe }}
                {% else %}
                    <p><em>No description available.</em></p>
                {% endif %}
                <ul class="tags">
                    {% for tag in issue.tags.all %}
                        <li>{% tag_link tag %}</li>
                    {% endfor %}
                </ul>
            </div>
            <footer>
                <ul class="stats">
                    <li class="available icon-bar-chart"><strong>{{ issue.percentage_views_known|floatformat:0 }}%</strong> of views known</li>
                    <li class="updated icon-time" title="{{ issue.updated_at }}">Last updated <strong>{{ issue.updated_at|interval_string }}</strong> ago</li>
                    <li class="views icon-eye-open"><strong>{{ issue|view_count }}</strong> views</li>
                </ul>
                {% if request.user.is_authenticated %}
                    <a class="edit" href="{% url core:issues:edit issue.pk %}">Edit</a>
                {% endif %}
            </footer>
        </div>

        {% for view_row in view_rows %}
            <div class="view-summary-row">
                {% for view in view_row %}
                    {% with heading=view.party.name %}
                        {% include "core/views/_summary.html" %}
                    {% endwith %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div id="content-secondary">
        <h2 class="section">Distribution</h2>
        <div id="stances-chart"></div>

        {% if related_issues %}
            <h2 class="section">Related Issues</h2>
            <ol class="related">
                {% for related_issue in related_issues|slice:":20" %}
                    <li><a href="{% url core:issues:show related_issue.pk related_issue.slug %}">{{ related_issue.name }}</a></li>
                {% endfor %}
            </ol>
        {% endif %}
    </div>
{% endblock %}
