{% load comments core %}

<div class="comment-thread">
    {% if comments %}
        <div class="arrow"></div>
        <ol>
            {% for comment in comments %}
                {% squashspaces %}
                <li class="comment
                           {% if comment.is_deleted %}deleted{% endif %}
                           {% if request.user == comment.author %}own{% endif %}"
                  data-id="{{ comment.pk }}"
                  id="comment-{{ comment.pk }}">
                {% endsquashspaces %}
                    {% if comment.is_deleted %}
                        <div class="body" title="Deleted">Deleted</div>
                    {% else %}
                        <div class="body">{{ comment.body }}</div>
                    {% endif %}
                    — {% user_link comment.author %}
                    {% if not comment.is_deleted %}
                        {% if request.user == comment.author %}
                            <a class="edit icon-pencil" href="#">Edit</a>
                            <a class="delete" href="#" title="Delete"></a>
                        {% else %}
                            <a class="add-comment icon-share-alt" href="#">Reply</a>
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    {% endif %}
</div>
