{% load core %}

{% csrf_token %}
<div class="fields">
    <p>
        <label for="id_stance">Stance</label>
        {{ form.stance }}
    </p>
    <p>
        <label for="id_url">URL</label>
        {{ form.url }}
    </p>
    <p>
        <label for="id_title">Title</label>
        {{ form.title }}
    </p>
    <p>
        <label for="id_published_on">Published</label>
        {{ form.published_on }}
    </p>
</div>
{{ form.text }}
{% if form.errors %}
    <div class="errors">
        <p>Oops! The reference couldn't be saved because:</p>
        <ul>
            {% for field_name, errors in form.errors.items %}
                {% with field=form|get:field_name %}
                    {% for error in errors %}
                        <li>{{ field.label }}: {{ error }}</li>
                    {% endfor %}
                {% endwith %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
