<div id="help-stance">
    <h2 class="section">Stance</h2>
    <p>The stance that this reference suggests (e.g. it may indicate that the party supports the issue in question).</p>
</div>
<div id="help-url">
    <h2 class="section">URL</h2>
    <p>Where the reference can be accessed.</p>
    <ul>
        <li>The reference must be publicly accessible (it must not require a username/password to access).</li>
        <li>Before posting, ensure that the link works by opening it in a new tab.</li>
    </ul>
</div>
<div id="help-title">
    <h2 class="section">Title</h2>
    <p>An identifying title for the reference (e.g. the title of the news article, the title of the policy document).</p>
</div>
<div id="help-published_on">
    <h2 class="section">Published</h2>
    <p>When the reference was published (e.g. when the news article was posted, when the policy document was made available).</p>
    <p>If you can't determine when it was published, make an estimate or leave the input blank and today's date will be used.</p>
</div>
<div id="help-text">
    <h2 class="section">Summary</h2>
    <p>A brief summary of the reference, outlining the important points or quotes.</p>
    <ul>
        <li>When quoting, make clear who is speaking and their role (e.g. "Bob Brown, Leader of the Greens").</li>
        <li>Where possible, include excerpts and quotes verbatim so they can be found using the browser's find function.</li>
        <li>
            <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> formatting is supported:
            <ul>
                <li>Leave a blank line to end one paragraph and start another.</li>
                <li><tt># Header</tt>, <tt>## Subheader</tt>, etc.</li>
                <li><tt>[Link](www.example.com)</tt></li>
                <li><pre>&gt; This is a quote.
&gt; Still a quote.</pre></li>
                <li><pre>* This is a list.
* Still a list.</pre></li>
            </ul>
        </li>
    </ul>
</div>
