@import "util";

#header-primary a#header-contribute {
  border: 1px solid #CCC;
  border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.1);
  .border-radius(5px);
  .box-shadow(inset 0 1px 0 rgba(255, 255, 255, 0.2));
  .linear-gradient-background(top, #FFE550, #FFCD4A);
  margin: 0 10px;
  padding: 10px;

  &:hover {
    .linear-gradient-background(top, #FFF050, #FFD54A);
  }
}

html.contribute {
  p.task {
    font-size: 15px;
    font-weight: bold;
  }

  #content-secondary a.more {
    display: block;
    text-align: right;
  }

  div.information, div.success {
    line-height: 1.3em;
    margin-bottom: 1.6em;
  }

  form.skip {
    display: none;
  }
}
