html.contribute {
  #content-secondary a.more {
    display: block;
    text-align: right;
  }

  div.information, div.success {
    margin-bottom: 1.6em;
  }

  form.reference, form.skip {
    display: inline;
  }
}
