{% extends "core/base.html" %}

{% load cache %}

{% block html-class %}about{% endblock %}
{% block title %}{{ block.super }} / About{% endblock %}

{% block content %}
    <div id="content-primary">
        <p><strong>govmonitor</strong> makes politics more accessible by explaining issues and the stances parties take on them — all from evidence-based user contributions.</p>
        <p>govmonitor was created out of frustration with the inaccessibility of politics. Policy documents are scattered all over the Internet, making it impossible for most people to work out what parties actually stand for. Even when you've found one, they only list the policies the party wants you to know about; you need to scour news websites to find the rest of them!</p>
        <p>By collecting all of this information and making it easy to understand, we hope to simplify politics and help people vote for the parties that best represents their views. We take an evidence-based approach, with the site powered entirely by user-submitted <a href="{% url core:faq %}#question-reference">references</a>.</p>
        <p>Have a question? Check the <a href="{% url core:faq %}">FAQ</a> or <a href="{% url core:contact %}">get in touch</a>!</p>
    </div>

    <div id="content-secondary">
        <h2 class="section">Me</h2>
        <div class="profile">
            <img alt="Chris Doble" src="http://gravatar.com/avatar/8a9fd9669fc04f1ff2bc2001f68c047d?s=70"/>
            <h3>Chris Doble</h3>
            <a href="http://twitter.com/chrisdoble">@chrisdoble</a>
            Atlassian, politics, programming, sorting alphabetically.
        </div>

        {% cache 3600 about:stats %}
            <h2 class="section">Stats</h2>
            <ul>
                <li><strong>{{ issues.count }}</strong> issues</li>
                <li><strong>{{ parties.count }}</strong> parties</li>
                <li><strong>{{ references.count }}</strong> references</li>
            </ul>
        {% endcache %}
    </div>
{% endblock %}
