{% extends "base.html" %}

{% load compress %}
{% load core %}

{% block javascript %}
    {{ block.super }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    {% compress js %}
        <script src="{{ STATIC_URL }}core/js/jquery.cookie.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}core/js/script.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}core/js/issues.js" type="application/javascript"></script>
        <script src="{{ STATIC_URL }}core/js/view.js" type="application/javascript"></script>
    {% endcompress %}
{% endblock %}

{% block stylesheets %}
    {% compress css %}
        {{ block.super }}
        <link href="{{ STATIC_URL }}core/css/core.css" rel="stylesheet" type="text/css"/>
        <link href="{{ STATIC_URL }}core/css/issues.css" rel="stylesheet" type="text/css"/>
        <link href="{{ STATIC_URL }}core/css/screen.css" rel="stylesheet" type="text/css"/>
        <link href="{{ STATIC_URL }}core/css/tags.css" rel="stylesheet" type="text/css"/>
        <link href="{{ STATIC_URL }}core/css/view_tables.css" rel="stylesheet" type="text/css"/>
        <link href="{{ STATIC_URL }}core/css/views.css" rel="stylesheet" type="text/css"/>
    {% endcompress %}
{% endblock %}

{% block body %}
    {{ block.super }}
    <div id="header">
        <div id="header-inner">
            {# Site Navigation #}
            <ol id="navigation">
                <li><a href="{% url core:issues:popular %}">Issues</a></li>
                <li><a href="{% url core:parties:list %}">Parties</a></li>
                <li><a href="{% url core:tags:list %}">Tags</a></li>
            </ol>

            {# Account Functionality #}
            <ol id="dashboard">
                {% if not request.user.is_authenticated %}
                    <li>{% login_link "Log In" %}</li>
                {% else %}
                    <li>{% user_link request.user "Profile" %}</li>
                    <li><a href="{% url core:settings %}">Settings</a></li>
                    <li><a href="{% url core:logout %}?next={{ request.path }}">Log Out</a></li>
                {% endif %}
                <form action="{% url core:search %}">
                    <label for="q">Search</label>
                    <input id="q" name="q" type="text" value="{{ request.GET.q }}"/>
                </form>
            </ol>
        </div>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer"></div>
{% endblock %}
