{% extends "base.html" %}

{% load compress %}
{% load core %}

{% block javascript %}
    {{ block.super }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    {% compress js %}
        <script src="{{ STATIC_URL }}core/js/jquery.cookie.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}core/js/script.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}core/js/about.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}core/js/issues.js" type="application/javascript"></script>
        <script src="{{ STATIC_URL }}core/js/view.js" type="application/javascript"></script>
    {% endcompress %}
{% endblock %}

{% block stylesheets %}
    {% compress css %}
        {{ block.super }}
        <link href="{{ STATIC_URL }}core/css/about.css" rel="stylesheet" type="text/css"/>
        <link href="{{ STATIC_URL }}core/css/contact.css" rel="stylesheet" type="text/css"/>
        <link href="{{ STATIC_URL }}core/css/core.css" rel="stylesheet" type="text/css"/>
        <link href="{{ STATIC_URL }}core/css/issues.css" rel="stylesheet" type="text/css"/>
        <link href="{{ STATIC_URL }}core/css/parties.css" rel="stylesheet" type="text/css"/>
        <link href="{{ STATIC_URL }}core/css/references.css" rel="stylesheet" type="text/css"/>
        <link href="{{ STATIC_URL }}core/css/tags.css" rel="stylesheet" type="text/css"/>
        <link href="{{ STATIC_URL }}core/css/view_tables.css" rel="stylesheet" type="text/css"/>
        <link href="{{ STATIC_URL }}core/css/views.css" rel="stylesheet" type="text/css"/>
    {% endcompress %}
{% endblock %}

{% block body %}
    {{ block.super }}
    <div id="header">
        <div id="header-content">
            {# The primary header. #}
            <div id="header-primary">
                <ol>
                    <li><a href="{% url core:issues:popular %}" id="header-issues">Issues</a></li>
                    <li><a href="{% url core:parties:list %}" id="header-parties">Parties</a></li>
                    <li><a href="{% url core:tags:list %}" id="header-tags">Tags</a></li>
                </ol>
                <div class="right">
                    <ol>
                        {% if not request.user.is_authenticated %}
                            <li><a href="{% url core:login %}" id="header-log-in">Log In</a></li>
                        {% else %}
                            <li><a href="{% url core:logout %}">Log Out</a></li>
                        {% endif %}
                        <li><a href="{% url core:about %}" id="header-about">About</a></li>
                    </ol>
                    <form action="{% url core:search %}">
                        <input id="q" name="q" placeholder="Search" type="text" value="{{ request.GET.q }}"/>
                    </form>
                </div>
            </div>

            {# The secondary header. #}
            {% block header-secondary %}{% endblock %}
        </div>
    </div>

    <div id="content">
        <div id="content-content">
            {% block content %}{% endblock %}
        </div>
    </div>

    <div id="footer">
        <div id="footer-content">
            <a class="right" href="http://creativecommons.org/licenses/by-sa/3.0/" rel="license"><img alt="cc-by-sa" src="{{ STATIC_URL }}core/img/cc-by-sa.png"/></a>
            <ol>
                <li><a href="{% url core:about %}">About</a></li>
                <li><a href="{% url core:contact %}">Contact</a></li>
                <li><a href="{% url core:about %}">Help</a></li>
            </ol>
            <p>Copyright &copy; Christopher Doble 2011–2012.</p>
            <p>User contributions are licensed under the <a href="http://creativecommons.org/licenses/by-sa/3.0/" rel="license">Creative Commons Attribution-ShareAlike License</a>.</p>
        </div>
    </div>
{% endblock %}
