{% extends "core/base.html" %}

{% block html-class %}
    {{ block.super }}
    log-in
{% endblock %}

{% block title %}{{ block.super }} / Log In{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="full">
        <div class="log-in">
            <h1><strong>Log In</strong></h1>
            {% if form.errors or request.GET.error %}
                <div class="errors">Oops, we couldn't log you in. Give it another go.</div>
            {% endif %}
            <div class="left">
                <a href="{% url socialauth_begin "facebook" %}{{ next }}">
                    <img alt="Facebook" src="{{ STATIC_URL }}core/img/facebook.png"/>
                </a>
            </div>
            <div class="right">
                <form method="post">
                    {% csrf_token %}
                    <input name="email" placeholder="Email" type="text"/>
                    <input name="password" placeholder="Password" type="password"/>
                    <input class="button" type="submit" value="Log In"/>
                    <a href="{% url core:register %}">Register</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
