{% extends "core/base.html" %}

{% block html-class %}
    {{ block.super }}
    log-in
{% endblock %}

{% block title %}Log In{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="content-primary">
        {% if request.GET.error %}
            <p class="error">Uh oh, we couldn't log you in. Give it another go.</p>
        {% endif %}
        <p>
            <a href="{% url socialauth_begin "facebook" %}{{ next }}">
                <img alt="Facebook" src="{{ STATIC_URL }}core/img/facebook.png"/>
            </a>
        </p>
        <p>
            <a href="{% url socialauth_begin "twitter" %}{{ next }}">
                <img alt="Twitter" src="{{ STATIC_URL }}core/img/twitter.png"/>
            </a>
        </p>
        <form method="post">
            {% csrf_token %}
            <p><input name="email" placeholder="Email" type="text"/></p>
            <p><input name="password" placeholder="Password" type="password"/></p>
            <p>
                <input type="submit" value="Log in"/>
                <a href="{% url core:register %}">Register</a>
            </p>
        </form>
    </div>
{% endblock %}
