{% extends "core/base.html" %}

{% load core %}

{% block title %}{{ block.super }} / Register{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="full">
        <div class="register">
            <h1><strong>Register</strong></h1>
            <form class="fields" method="post">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="errors">
                        {% if form.errors|length == 1 %}
                            Oops! There was a problem with your registration:
                        {% else %}
                            Oops! There were a couple of problems with your registration:
                        {% endif %}
                        <ul>
                            {% for field_name, errors in form.errors.items %}
                                {% for error in errors %}
                                    {% if field_name == "__all__" %}
                                        <li>{{ error }}</li>
                                    {% else %}
                                        {% with field=form|get:field_name %}
                                            <li>{{ field.label }}: {{ error }}</li>
                                        {% endwith %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <fieldset>
                    <label for="id_first_name">First Name</label>
                    <div>
                        {{ form.first_name }}
                    </div>
                </fieldset>
                <fieldset>
                    <label for="id_last_name">Last Name</label>
                    <div>
                        {{ form.last_name }}
                    </div>
                </fieldset>
                <fieldset>
                    <label for="id_email">Email</label>
                    <div>
                        {{ form.email }}
                    </div>
                </fieldset>
                <fieldset>
                    <label for="id_password">Password</label>
                    <div>
                        {{ form.password }}
                    </div>
                </fieldset>
                <fieldset>
                    <label for="id_password_confirmation">Password Again</label>
                    <div>
                        {{ form.password_confirmation }}
                    </div>
                </fieldset>
                <div class="captcha">{{ form.captcha|safe }}</div>
                <input class="button" type="submit" value="Register"/>
            </form>
        </div>
    </div>
{% endblock %}
