{% extends "core/base.html" %}

{% load core %}

{% block title %}Search{% endblock %}

{% block content %}
    <div id="content-primary">
        <h2 class="section">{{ issues|length }} Issues</h2>
        {% if page.object_list %}
            {% for issue in page.object_list %}
                {% issue_summary issue %}
            {% endfor %}

            {% page_links page %}
        {% else %}
            <i>No issues.</i>
        {% endif %}
    </div>
    <div id="content-secondary">
        <h2 class="section">{{ tags|length }} Tags</h2>
        {% if tags %}
            <ol>
                {% for tag in tags %}
                    <li>{% tag_link tag %}</li>
                {% endfor %}
            </ol>
        {% else %}
            <i>No tags.</i>
        {% endif %}
    </div>
{% endblock %}
