{% extends "core/base.html" %}

{% block title %}Account{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="content-primary">
        <h1>Settings</h1>
        <ul class="connect">
            <li>
                {% if "facebook" in social_auth.not_associated %}
                    <a href="{% url socialauth_associated_begin "facebook" %}">
                        <img alt="Facebook" src="{{ STATIC_URL }}core/img/facebook-32.png"/>Connect with Facebook
                    </a>
                {% else %}
                    <img alt="Facebook" src="{{ STATIC_URL }}core/img/facebook-32.png"/>Connected
                {% endif %}
            </li>
        </ul>
    </div>
{% endblock %}
