# coding=utf-8
from .common import *


# -----------------------------------------------------------------------------
# Caching
# -----------------------------------------------------------------------------

CACHES = {
    "default": {
        "BACKEND": "django.core.cache.backends.memcached.PyLibMCCache",
        "LOCATION": "127.0.0.1:11211"
    }
}

# -----------------------------------------------------------------------------
# Database
# -----------------------------------------------------------------------------

DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.postgresql_psycopg2",
        "HOST": "",
        "NAME": "DATABASE_NAME",
        "PASSWORD": "DATABASE_PASSWORD",
        "USER": "DATABASE_USER"
    }
}

# -----------------------------------------------------------------------------
# General
# -----------------------------------------------------------------------------

DEBUG = False
TEMPLATE_DEBUG = False

# The site's Google Analytics tracking ID or None if it's not being used. If
# set, this ID is automatically injected into each page by the base template.
GOOGLE_ANALYTICS_TRACKING_ID = None
